:root {
    --mainColor: rgb(196, 222, 197);
    --secondaryColor: #e0d9cb;
    --thirdColor: #b24013;
    --borderColor:rgb(219, 196, 184);
    --mainText:black;
    --secondaryText:rgb(216, 168, 78);
    --cursive: 'Great Vibes', cursive;
    --mainText: 'Raleway', sans-serif;
}




/*Header Styling Starts*/
.header-box {
    display: flex;
    justify-content: center;
    background-color: var(--mainColor);
    border: 1px dashed var(--borderColor);
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
}

#header {
    color: var(--mainText);
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}

/*Header Styling Ends*/

/*Navigation Bar Sytle Starts */

.navigation {
    border: 5px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 3em;
    background-color: var(--thirdColor);
}

.nav li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
    color: var(--borderColor);
    font-size: larger;
}

/*Side by Side of Profile Pic and About Me */

.wrapper {
   background-color: var(--borderColor);
   border: 3px;
   border-radius: 5px 5px 0 0;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#profile-pic {
    display: inline-block;
    margin: 30px;
    height: 330px;
    width: 330px;
    object-fit: cover;
    border: 10px solid var(--thirdColor);
}

.this-is-me {
    display: flex;
    align-items: center;

}

.preview {
    height: 330px;
    width: 330px;
    border: 10px solid var(--thirdColor);
    margin: 30px;
    background-color: var(--mainColor);
    position: relative;
    text-align: center;
 
}

.preview h3 {
    font-family: var(--cursive);
    font-size: 50px;
    text-align: center;
}

.preview p {
    font-family: var(--mainText)
    font-size: 15px;
}

.preview a {
    text-decoration: none;
    color: var(--thirdColor);
    font-weight:900;
}


/*Find out how to add correct hover */
.preview a :hover {
    padding: 15px;
    color: rgb(3, 67, 3);
}

/*Fun Projects Style Starts */

.project-header{
    background-color: var(--thirdColor);
    font-family: var(--cursive);
    font-size: 50px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
}

.post-wrapper {
    border: 10px dashed darkgoldenrod;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'post-1 post-1'
    'small-post'
    ;
    justify-content:space-evenly;
    background-color: var(--borderColor);

}


.post-1 {
    border: 10px solid var(--thirdColor);
    background-color: var(--mainColor);  
}

.lg-thumb {
    display: block;
    width: 100%;
    height: 200px;
    object-fit:fill;

}

.post-preview {
    font-family: var(--mainText);
    display: flex;
    justify-content: center;

}

.small-wrap {
    border: 2px dashed darkmagenta;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.small-post {
    border: 2px dashed darkgreen;
    display: flex;
    align-content: center;
}
 
